@charset "utf-8";
*{
   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
}
.submenu{
    display: none;
 }
.menu-item.active .submenu{
    display: block;
 }
 
 
 .menu {
    width: 600px;
    background-color: antiquewhite;
    display: flex;
    line-height: 2;
  }
  .menu-item{
   position: relative;
   width: calc(100% / 5);
  }
  .submenu{
   position: absolute;
   top: 30px;
   background-color: aquamarine;
  }